{% extends "search/base.html" %}
{% block body %}
    <div class="container">
        <div class="col-md-12 search-results">
            <p class="performance"><small>Požadavek zpracován za {{ time }} s</small></p>
            {% if output %}
                {% for row in output %}
                    <div class="result">
                        <div class="truncate-ellipsis">
                            <h3><span class="language">[{{row[6]}}]</span><a href='{{row[0]}}'>{{row[2]}}</a></h3>
                            </div>
                        <div class="block">
                            <div class="truncate-ellipsis">
                                <div class="url">{{row[1]}}</div>
                            </div>

                            <div class="preview">
                                {{ row[7]|safe }}
                            </div>
                            <div class="debug">Depth: {{10 - row[3]}} | Pagerank: {{row[4]}}</div>
                        </div>


                    </div>
                {% endfor %}
            {% else %}
            <div class="not-found text-center">


            <img src="{{ url_for('static', filename='images/not-found.png') }}" alt="Nic nenalezeno" width="200px" class="img-responsive center-block">
                <p>
                    Pro hledavný výraz nebyly nalezeny žádné výsledky :(
                </p>
                </div>
            {% endif %}

            {% if output %}
            <nav aria-label="pagination">
              <ul class="pagination justify-content-center">
                {% if (page > 1) %}
                    <li class="page-item">
                {% else %}
                    <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="./?search={{search}}&page={{page - 1}}" tabindex="-1">Předchozí</a>
                </li>

                {% for page_number in range(1,page) %}
                    {% if (page_number < 2) %}
                    <li class="page-item"><a class="page-link" href="./?search={{search}}">{{ page_number }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="./?search={{search}}&page={{page_number - 1}}">{{ page_number }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_size < 10 %}
                    <li class="page-item disabled">
                {% else %}
                    <li class="page-item">
                {% endif %}
                  <a class="page-link" href="./?search={{search}}&page={{page + 1}}">Další</a>
                </li>
              </ul>
            </nav>
            {% endif %}
        </div>

    </div>
{% endblock %}
