// out: ./style.css, sourcemap: false, compress: true

body {
    border-top: 5px #006BAB solid;
}

nav .navbar-brand {
    /*font-size: 1rem;*/
    line-height: 50px;
}

.btn-primary {
    background-color: #006BAB;
    border-color: #206188;
}

.btn-primary:hover {
    background-color: #0476BB;
    border-color: #226B97;
}

.big-number {
    // text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 0;
}

.big-number-label {
    margin-top: -10px;
    margin-left: 5px;
    color: gray;
}

.footer {
    margin-top: 100px;
    color: #D1D1D1;

    a {
        color: #D1D1D1;
        text-decoration: underline;
    }

    a:hover {
        color: gray;
    }
}
