{% extends "info/base.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1>UPSearch</h1>
        <p class="lead">Základní informace o prvním fulltextovém vyhledávači Univerzity Palackého v Olomouci.</p>
        <div class="row">
            <div class="col-lg-6 search">
                <form method="GET" action="{{ url_for('search.home') }}" role="search" class="mt-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Hledaný výraz..." name="search" autofocus>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Hledat</button>
                    </span>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
<div class="container margin-overlap">
    <div class="row">
        <div class="col-lg-4">
  <div class="card custom mb-5">
    <div class="card-body">
      <h2 class="card-title mt-1 mb-4">Co je UPSearch?</h2>
      <p>
          UPSearch je <strong>internetový fulltextový vyhledávač</strong> jako je například Google, nebo Seznam. S tím rozdílem, že UPSearch operuje pouze nad adresami z domény upol.cz. UPSearch vznikl v rámci diplomové práce na katedře informatiky.
      </p>
      <h3 class="mt-4 mb-3">Hlavní výhody</h3>
      <ul>
          <li>
              <p>Přímá optimalizace pro univerzitní síť.</p>
          </li>
          <li>
              <p>Monitorování univerzitní sítě, které může vést k jejímu zlepšení.</p>
          </li>
          <li>
              <p>Možnost integrace do ostatních univerzitních systémů.</p>
          </li>
          <li>
              <p>Univerzita ma přímou kontrolu nad vyhledávačem a jeho funkcemi.</p>
          </li>
          <li>
              <p>UPSearch je open-source.</p>
          </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="col-lg-4">
  <div class="card custom mb-5">
    <div class="card-body">
      <h2 class="card-title mt-1 mb-4">Zpracování dat</h2>
      <p>
          UPSearch zpracovává data univerzitní sítě v několika krocích. Zpracovávaná data jsou <strong>ukládána na interní server univerzity</strong> a nedochází k jejich předání třetím stranám.
      </p>
      <h3 class="mt-4 mb-3">Crawlování</h3>
      <ul>
          <li>
              <p>Robot navštíví a stáhne veškeré relevatní stránky unverzitní sítě.</p>
          </li>
          <li>
              <p>Robot je navržen tak, aby univerzitní síť vytěžoval minimálně.</p>
          </li>
          <li>
              <p>Po dokončení skenování dochází k výpočtu ohodnocení stránek, známeho jako PageRank.</p>
          </li>
      </ul>
      <h3 class="mt-4 mb-3">Indexace</h3>
      <ul>
          <li>
              <p>Již stažená data UPSearch zpracuje a postaví index, který využívá samotný vyhledávač.</p>
          </li>
      </ul>
      <h3 class="mt-4 mb-3">Vyhledávání</h3>
      <ul>
          <li>
              <p>Každý požadavek na vyhledávání je ukládán a používán k vylepšení kvality vyhledávače.</p>
          </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="col-lg-4">
  <div class="card custom mb-5">
    <div class="card-body">
      <h2 class="card-title mt-1 mb-4">Jak mohu pomoci?</h2>
      <p>
          UPSearch je stále ve stavu vývoje. Pokud jste nenalezli Vámi hledanou stránku, můžete mě kontaktovat na kontaktním e-mailu v patičce webu.
      </p>
      <p>
          Pro ideální otestování vyhledávače je nutné jej používat. Informujte prosím ostatní o existenci tohoto vyhledávače.
      </p>
      <h3 class="mt-4 mb-3">Open-source</h3>
      <p>
          Cílem je poskytnout <strong>maximální transparentnost systému</strong>. Veškeré zdrojové kódy vyhledávače jsou veřejně dostupné na <a href="https://github.com/UPOLSearch">Github</a>.
      </p>
    </div>
</div>
</div>

    </div>
</div>
{% endblock %} {% block scripts %}
{% endblock %}
