<nav class="navbar shadow navbar-light fixed-top navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('info.home') }}">
        <img src="{{ url_for('static', filename='images/upol-search-logo.png') }}" width="35" height="35" alt="">
        <span class="name"><strong>UPSearch</strong><span>Info</span></span>
    </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('info.home') }}">Informace o projektu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('info.datamining') }}">Zpracování dat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vyhledávání</a>
                </li>
            </ul>

            <ul class="navbar-nav text-md-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Přihlášení</a>
                </li>
            </ul>

        </div>
</div>
</nav>
