{% extends "base.html" %} {% block body %} {% include "nav.html" %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1>Statistika vyhledavače</h1>
        <p class="lead">Na této stránce naleznete aktální průběh sběru dat a statistiky vyhledávání ve vyhledávači UPSearch.</p>
    <a class="btn btn-primary" href="asdasda">Sběr dat</a> <a class="btn btn-primary" href="#">Vyhledávání</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title mt-2 mb-3">Co je UPSearch?</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia.
      </p>
      <h3 class="mt-4 mb-2">Testovaci nadpis</h3>
      <p>
          Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aliquam erat volutpat. Nulla quis diam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
          non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title mt-2 mb-3">Sběr dat?</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aliquam erat volutpat.
      </p>
      <h3 class="mt-4 mb-2">Testovaci nadpis</h3>
      <p>
          Nulla quis diam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Cras elementum. Nulla non lectus sed
          nisl molestie malesuada. Aenean vel massa quis mauris vehicula lacinia. Proin in tellus sit amet nibh dignissim sagittis.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title mt-2 mb-3">Jak můžu pomoci?</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aliquam erat volutpat.
      </p>
    </div>
  </div>
</div>

    </div>
</div>
{% include "footer.html" %} {% endblock %} {% block scripts %} {% endblock %}
