<nav class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container justify-content-between">
    <a class="navbar-brand" href="{{ url_for('stats') }}">
        <img src="{{ url_for('static', filename='images/upol-search-logo.png') }}" width="35" height="35" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('stats') }}">Stats</a>
                <a class="nav-link" href="#">History</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
