{% extends "base.html" %} {% block body %} {% include "nav.html" %}

<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h2>Actual state</h2>
            <div class="row">
                <div class="col-md-3">
                    <div id="stage" class="big-number">Crawling</div>
                    <div class="big-number-label">
                        stage
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="stage_delta" class="big-number">1h 5m</div>
                    <div class="big-number-label">
                        stage delta time
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="total_delta" class="big-number">2h 5m</div>
                    <div class="big-number-label">
                        total delta time
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="next_start" class="big-number">2h 5m</div>
                    <div class="big-number-label">
                        time to next start
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2>Crawler</h2>
    </div>
    <div class="row mb-5">
        <div class="col-xl-6">
            <canvas id="page_types" height="200px"></canvas>
        </div>
        <div class="col-xl-6">
            <canvas id="progress" height="200px"></canvas>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-xl-8">
            <h2>Pagerank</h2>
            <div class="row">
                <div class="col-4">
                    <div class="big-number">1h 5m</div>
                    <div class="big-number-label">
                        graph
                    </div>
                </div>
                <div class="col-4">
                    <div class="big-number">1h 5m</div>
                    <div class="big-number-label">
                        calculation
                    </div>
                </div>
                <div class="col-4">
                    <div class="big-number">--</div>
                    <div class="big-number-label">
                        uploading
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <h2>Indexer</h2>
            <div class="row">
            <div class="col-12">
                <div class="big-number">0/156</div>
                <div class="big-number-label">
                    indexed (pages)
                </div>
            </div>
            </div>
        </div>
    </div>

</div>


{% include "footer.html" %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}">\x3C/script>')</script>
<script>
    reload();

    $(document).ready(function() {
        setInterval("reload()",10000); // call every 10 seconds
    });

    // $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


    var legend = {
        display: true,
        position: 'bottom',
    };
    var layout = {
        padding: {
            left: 0,
            right: 0,
            top: 40,
            bottom: 40
        }
    };

    var page_types = document.getElementById('page_types').getContext('2d');

    var page_types = new Chart(page_types, {
        type: 'bar',

        data: {

            labels: ['Pages', 'Files', 'Ignored', 'Timeout', 'Blocked'],
            datasets: [{
                data: [40, 20, 20, 25, 25],
                backgroundColor: [
                    "#4A90E2",
                    "#F5A623",
                    "#D0021B",
                    "#50E3C2",
                    "#9013FE",
                ],
            }],
        },

        options: {
            legend: {
                display: false
            },
            layout: layout,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


    var progress = document.getElementById('progress').getContext('2d');
    var myDoughnutChart = new Chart(progress, {
        type: 'doughnut',
        data: {
            labels: ['Visited', 'Queued', 'Not queued'],
            datasets: [{
                data: [10, 20, 30],
                backgroundColor: [
                    "#F5A623",
                    "#D0021B",
                    "#50E3C2"
                ],
            }],
        },
        options: {
            legend: legend,
            layout: layout,
        }
    });

    function reload() {
        $.getJSON('http://158.194.80.3:5000/api/stats', function(data) {
            $("#stage").text(data.stage)
            $("#stage_delta").text(data.stage_delta_time)
            $("#total_delta").text(data.total_delta_time)
            $("#next_start").text(data.next_time_start)
            page_types.data.datasets[0].data = data.crawler_progress_values
            page_types.data.labels = data.crawler_progress_labels
        });
    }
</script>
{% endblock %}
